.organic {
    width: 148px;
    height: 56px;
    margin: 0.5px 5px 0px .5px;
    font-family: LibreBaskerville;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #374b5c;
}